<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calvin's Blog</title>
</head>
<body>
    <div>
            <h1><a href="/">Calvin's Blog using Django</a></h1>
        </div>

        <div>
            <p>published: 2.10.2019, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post for the Django tutorial</p>
        </div>

         <div>
            <p>published: 2.10.2019, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>This is my second post for the Django tutorial</p>
        </div>
</body>
</html>